<div class="message-content">
  <div class="user-image">
    <%= image_tag(message.user.image_url, class: 'user-image') %>
  </div>
  <div class="message-text">
    <span class="username"><%= message.user.username %></span>
    <span class="text"><%= message.content %></span>
    <span class="timestamp"><%= message.created_at.strftime("%H:%M") %></span>
  </div>
</div>