.sidebar {
  width: 25%;
  background: #343a40;
  color: white;
  padding: 1rem;
  box-sizing: border-box;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  text-align: center;
}

.sidebar a:hover {
  background-color: #0056b3;
}